<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
      <%- include('./partials/admin-navbar.ejs') %>
        <main class="admin">
            <div class="admin-grid">
              <div class="admin-home-card">
                <a href="">
                  <div class="grid-info">
                    <i class="fa fa-bar-chart"></i>
                    <div class="grid-text">
                    Analysis & Report
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="">
                  <div class="grid-info">
                    <i class="fa fa-clock-o"></i>
                    <div class="grid-text">
                    <%= new Date().getHours(); %>:<%= new Date().getMinutes(); %>:<%= new Date().getSeconds(); %>
                    <br>
                    <div style="font-size: 14px;">
                      <%= new Date().getDate(); %>.<%= new Date().getMonth(); %>.<%= new Date().getFullYear(); %>
                    </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/">
                  <div class="grid-info">
                    <i class="fa fa-angle-double-right"></i>
                    <div class="grid-text">
                    Go to Page
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/allPosts">
                  <div class="grid-info">
                    <i class="fa fa-list"></i>
                    <div class="grid-text">
                    Blog
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/allProducts">
                  <div class="grid-info">
                    <i class="fa fa-product-hunt"></i>
                    <div class="grid-text">
                    Products
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/service">
                  <div class="grid-info">
                    <i class="fa fa-list"></i>
                    <div class="grid-text">
                    services
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/createPost">
                  <div class="grid-info">
                    <i class="fa fa-plus"></i>
                    <div class="grid-text">
                    Create Blog Post
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="/addProducts">
                  <div class="grid-info">
                    <i class="fa fa-plus"></i>
                    <div class="grid-text">
                    Add new Product
                    </div>
                  </div>
                </a>
              </div>
              <div class="admin-home-card">
                <a href="">
                  <div class="grid-info">
                    <i class="fa fa-cog"></i>
                    <div class="grid-text">
                    Settings
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </main>
    </body>
</html>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>