<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="create-blog-main">

            <div class="posts-container">
                <div class="posts-card">
                    <form class="form-bt" action="/delete" method="post">
                    <% posts.forEach ( function (post) { %>
                        <div class="icons-2">
                            <a href="/edit/<%= post._id %>" data-toggle="model"><i class="fa fa-edit" style="font-size: 30px;"></i></a>
                            <button name="deleteBtn" value="<%=post._id%>" type="submit" class="danger-btn">
                                <i class="fa fa-trash" style="font-size: 30px;"></i>
                            </button>
                        </div>
                            <div class="title-text">
                                <%= post.blogtitle %>
                            </div>
                            <span>
                                <%= post.createdAt.toLocaleDateString() %>
                            </span>
                            <div>
                                <img src="<%= post.blogimg %>" />
                            </div>
                            <div class="desc">
                                <%= post.blogcontent %>
                            </div>
                            <div class="icons">
                                <div class="card-icons">
                                    <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                                    <i class="fa fa-comment" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                                    <i class="fa fa-share" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                                </div>
                            </div>
                    <% }); %>
                    </form>
                    </div>
                </div>
            </div>

            <script>
                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/allPosts/${trashcan.dataset.doc}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                });
            </script>
    </body>
</html>