<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="create-blog-main">

            <div class="posts-container">
                <div class="posts-card">
                    <form class="form-bt" action="/deleteProduct" method="post">
                    <% products.forEach ( function (product) { %>
                        <div class="icons-2">
                            <a href="<%= `/edit` %>" data-toggle="model" value="<%= product._id %>"><i class="fa fa-edit" style="font-size: 30px;"></i></a>
                            <button name="deleteBtn" value="<%=product._id%>" type="submit" class="danger-btn">
                                <i class="fa fa-trash" style="font-size: 30px; color: red;"></i>
                            </button>
                        </div>
                        <span>
                            <%= product.createdAt.toLocaleDateString() %>
                        </span>
                        <div>
                            <img src="<%= product.blogimg %>" />
                        </div>
                        <div class="desc">
                            <%= product.desc %>
                        </div>
                    <% }) %>
                    </form>
                    </div>
                </div>
            </div>
    </body>
</html>