<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="blog content">
            <%- include('./partials/intro.ejs') %>
            <div class="main">
                <div class="headtext">
                    <h2 class="intro-header">Happy Times Blog</h2>
                    <p>Elevating your happiness regularly...</p>
                </div>
                <div class="box featured-blogs">
                    <% if (posts.length > 0) { %>
                        <% posts.forEach((post) => { %>
                            <div class="single-blog fblog">
                                <span class="date">
                                    <%= post.createdAt.toLocaleDateString(); %>
                                </span>
                                <br>
                                <br>
                                <div class="title">
                                    <%= post.blogtitle %>
                                </div>
                                <div class="img-div">
                                    <img src="<%= post.blogimg %>" class="img-responsive"/>
                                </div>
                                <div class="desc">
                                    <p>
                                        <%= post.blogcontent.substring(0, 200) + "..." %>
                                        <a href="/blog/<%= post._id %>" style="color: red;">Read more.</a>
                                    </p>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                    <p>There are no blog posts to display...</p>
                    <% } %>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>