<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
        <div class="posts-container">
            <div class="posts-card">
                
                    <div class="title-text">
                        <%= posts.blogtitle %>
                    </div>
                    <span>
                        
                    </span>
                    <div>
                        <img src="<%= posts.blogimg %>" />
                    </div>
                    <div class="desc">
                        <%= posts.blogcontent %>
                    </div>
                    <div class="icons">
                        <div class="card-icons">
                            <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                            <i class="fa fa-comment" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                            <i class="fa fa-share" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                        </div>
                    </div>
                
                </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>