<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
        <div class="posts-container">
            <div class="posts-card">
                <div class="title-text">
                    <%= post[19].blogtitle %>
                </div>
                <span>
                    <%= post[19].createdAt.toLocaleDateString() %>
                </span>
                <div>
                    <img src="<%= post[19].blogimg %>" />
                </div>
                <p>
                    <%= post[19].blogcontent %>
                </p>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>