<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div id="intro-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 85vh;">
            <div class="carousel-inner pt-5">
              <div class="carousel-item active">
                <div class="text-center">
                  <h2 class="fs-*">Our Products & Services</h2>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <em class="carousel-em fs-*">
                    We offer a wide range of Quality, Sustainable & Scalable Products
                  </em>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="section-bg" id="service">
            <h3 class="text-center pb-5">Our Services</h3>
            <div class="container">
                <div class="row">
                    <% services.forEach((service) => { %>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card p-5">
                                <div class="">
                                    <h3>
                                        <%= service.title %> 
                                    </h3>
                                    <p>
                                        <%= service.desc %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="section-bg" id="product">
            <h3 class="text-center pb-5">Our Products</h3>
            <div class="container">
                <div class="row">
                    <% if (products.length > 0) { %>
                        <% products.forEach((product) => { %>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-5">
                                    <div class="">
                                        <div class="">
                                            <img src="<%= product.blogimg %>" alt="litre Liquid Soap" class="img-responsive" width="200"/>
                                        </div>
                                        <div class="desc">
                                            <h4>
                                                <%= product.title %>
                                            </h4>
                                            <p>
                                                <%= product.desc %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        <% }) %>
                    <% } else { %>
                        <h3 class="text-center p-5">There are no products to display...</h3>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <h2>Contact Us</h2>
            <div class="abt-rule"></div>
            <h3>Happy Times Investments Ltd</h3>
            <p>P.O Box 236, Hoima, Uganda</p>
            <p>Tel: +256788266754 | +256703737369</p>
            <p>Email: happytimesinvestmentsltd@gmail.com</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>