<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="products">
            <%- include('./partials/intro.ejs') %>
            <div class="products-main">
                <h1 class="intro-header">Our Products & Services</h1>
                <div class="intro-text">
                    We offer a wide range of Quality, Sustainable & Scalable Products
                </div>
                <div class="product">
                    <h2>Our Products</h2>
                    <div class="abt-rule"></div>
                    <div class="soap-card">
                        <!--<h3>Happy Wash Liquid Soap.</h3>-->
                        <div class="soap-grid">
                            <% if (products.length > 0) { %>
                                <% products.forEach((product) => { %>
                                    <div class="soap">
                                        <div class="soap-image">
                                            <img src="<%= product.blogimg %>" alt="litre Liquid Soap" />
                                        </div>
                                        <div class="desc">
                                            <h4>
                                                <%= product.title %>
                                            </h4>
                                            <p>
                                                <%= product.desc %>
                                            </p>
                                        </div>
                                    </div>
                                    <% }) %>
                            <% } else { %>
                                <h3>There are no products to display...</h3>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="services">
                    <h2>Our Services</h2>
                    <div class="abt-rule"></div>
                    <div class="service-grid">
                        <% services.forEach((service) => { %>
                            <div class="service">
                                <h3>
                                    <%= service.title %> 
                                </h3>
                                <p>
                                    <%= service.desc %>
                                </p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>