<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="all-admin-main">
            <div class="admin-service">
                <div class="service-wrapper">
                    <% services.forEach ( function (service) { %>
                    <form class="form-bt" action="/deleteService" method="post">
                        <div class="icons-2">
                            <button>
                                <a href="<%= `/edit` %>" data-toggle="model" value="<%= service._id %>"><i class="fa fa-edit" style="font-size: 30px; color: black;"></i></a>
                            </button>
                            <button name="deleteBtn" value="<%=service._id%>" type="submit" class="danger-btn">
                                <i class="fa fa-trash" style="font-size: 30px; color: black;"></i>
                            </button>
                        </div>
                        <span>
                            <%= service.createdAt.toLocaleDateString() %>
                        </span>
                        <h2>
                            <%= service.title %>
                        </h2>
                        <div class="desc">
                            <%= service.desc %>
                        </div>
                    </form>
                    <% }) %>
                    </div>
                </div>
            </div>
    </body>
</html>