<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/intro.ejs') %>
        <div class="intro-post">
            <h1>
                <%= post.blogtitle %>
            </h1>
            <div class="intro-text abt-intro">
                Happy Times today...
            </div>
        </div>
        <div class="container mt-5">
            <div class="posts-card">
                    <h2 class="title-text">
                        <%= post.blogtitle %>
                    </h2>
                    <span class="text-muted">
                        <%= post.createdAt %>
                    </span>
                    <div>
                        <img src="<%= post.blogimg %>" class="img-responsive"/>
                    </div>
                    <div class="desc mt-5">
                        <%= post.blogcontent %>
                    </div>
                </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>