<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
        <div class="posts-container">
            <div class="posts-card">
                
                    <div class="title-text">
                        <%= post.blogtitle %>
                    </div>
                    <span>
                        <%= post.createdAt %>
                    </span>
                    <div>
                        <img src="<%= post.blogimg %>" />
                    </div>
                    <div class="desc">
                        <%= post.blogcontent %>
                    </div>
                    <div class="icons">
                        <div class="card-icons">
                            <i class="fa fa-heart" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                            <i class="fa fa-share" aria-hidden="true" style="font-size: 20px; color: rgb(233, 107, 34); padding: 5px 25px"></i>
                        </div>
                    </div>
                    <div class="comments">
                        <form action="/postcomments" method="POST">
                            <textarea rows="7" cols="5" id="body" name="addcomment"></textarea>
                            <button class="comment-btn" type="submit">POST COMMENT</button>
                        </form>
                    </div>
                    <div class="Comments-section">
                     
                            <div class="allComments">
                          
                            </div>
                            <span>
                          
                            </span>
                    
                    </div>
                
                </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>